/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/

/* 추가 작성 배너 버튼때문에 좌우 스크롤 없애기 */
#wrap .slider{ 
	overflow: hidden;
}


.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform:capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/

.flexslider {background: #fff; position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: none; /*background:url(../img/bg_direction_nav.png) no-repeat 0 0*/;  position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {display: none; width: 100%; height:14px; position: absolute; bottom: 8px; text-align: center;}
@media screen and (max-width: 767px){
	.flex-control-nav {bottom: 100px;}
}

.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; transition-duration: 0.3s;}
.flex-control-paging li a:hover { background: #000;}
.flex-control-paging li a.flex-active { background: #000; cursor: default; width: 10px;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 1366px/* 수정 태블릿이하 부터는 배너 버튼 고정되게 */) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 5px;}
  .flex-direction-nav .flex-next {opacity: 1; right: 5px;}
}

/*추가 작성 기기크기별 배너이미지 
@media screen and (min-width: 1367px){
	.flexslider .slides img.tablet,
	.flexslider .slides img.smart{
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1366px){
	.flexslider .slides img.pc,
	.flexslider .slides img.smart{
		display: none;
	}
}

@media screen and (max-width: 767px){
	.flexslider .slides img.pc,
	.flexslider .slides img.tablet{
		display: none;
	}
}

@media screen and (min-width: 1367px){
.flexslider .slides a{
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	left: 50%; bottom: 100px;
	margin-left: 300px;
}
.flexslider .slides a.banner3_more{
	margin-left: -600px;
}
.flexslider .slides a:hover{
	background: #fff;
	color: #000;
}
}

@media screen and (max-width: 1366px){
.flexslider .slides a{
	display: none;
}
}
.flexslider .slides p{
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}
@media screen and (min-width: 768px){
.flexslider .slides p{
	display: none;
}
}
*/