/*mainContents_style.css*/

#contents_wrap{
	width: 100%;
	margin: 0 auto;
}

#personal{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
	#personal > h1{
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
		font-weight: 500;
	}
	#personal > .personal{
		margin: 0 auto;
	}
	#personal > .personal > div{
		float: left;
		text-align: center;
		margin-left: 30px;
	}

	@media screen and ( max-width: 1366px){
	#personal > .personal{
		width: 100%;
	}
	#personal > .personal > div{
		width: 50%;
		margin-left: 0px;
	}
	}
	@media screen and ( max-width: 767px){
	#personal > .personal > div{
		width: 100%;
		margin-left: 0;
	}
	}
		#personal > .personal > div > img{
			width: 100%;
		}
		@media screen and ( max-width: 1366px){
		#personal > .personal > div > img{
			width: 100%;
			margin: 0 auto;
		}
		}
		#personal > .personal > div > h3{
			padding-top: 10px;
			margin-bottom: 10px;
		}

#commercial{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
	#commercial > h1{
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
		font-weight: 500;
	}
	#commercial > .commercial{
		margin: 0 auto;
	}
	#commercial > .commercial > div{
		float: left;
		text-align: center;
		margin-left: 30px;
	}
	@media screen and ( max-width: 1366px){
	#commercial > .commercial{
		width: 100%;
	}
	#commercial > .commercial > div{
		width: 50%;
		margin-left: 0px;
	}
	}
	@media screen and ( max-width: 767px){
	#commercial > .commercial > div{
		width: 100%;
		margin-left: 0;
	}
	}
		#commercial > .commercial > div > img{
			width: 100%;
		}
		@media screen and ( max-width: 1366px){
		#commercial > .commercial > div > img{
			width: 100%;
			margin: 0 auto;
		}
		}
		#commercial > .commercial > div > h3{
			padding-top: 10px;
			margin-bottom: 10px;	
		}


#exhibitions{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
	#exhibitions > h1{
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
		font-weight: 500;
	}
	#exhibitions > .exhibitions{
		margin: 0 auto;
	}
	#exhibitions > .exhibitions > div{
		float: left;
		text-align: center;
		margin-left: 30px;
	}
	@media screen and ( max-width: 1366px){
	#exhibitions > .exhibitions{
		width: 100%;
	}
	#exhibitions > .exhibitions > div{
		width: 50%;
		margin-left: 0px;
	}
	}
	@media screen and ( max-width: 767px){
	#exhibitions > .exhibitions > div{
		width: 100%;
		margin-left: 0;
	}
	}
		#exhibitions > .exhibitions > div > img{
			width: 100%;
		}
		@media screen and ( max-width: 1366px){
		#exhibitions > .exhibitions > div > img{
			width: 100%;
			margin: 0 auto;
		}
		}
		#exhibitions > .exhibitions > div > h3{
			padding-top: 10px;
			margin-bottom: 10px;	
		}
		
#lastwork{
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
	#lastwork > h1{
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
	}
#lastwork > .lastwork{
	margin: 0 auto;
}
#lastwork > .lastwork > div{
}

#lastwork > .lastwork > div.first{
	width: 100%;
	float: left;
}
#lastwork > .lastwork > div.first > h3{
	width: 50%;
	font-size: 20px;
	float: right;
	text-align: right;
	margin-top: -25px;
	margin-right: 500px;
	
}

#lastwork > .lastwork > div.second > img{	
 	width: auto;
	float: right;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}
#lastwork > .lastwork > div.last > img{	
	width: 100%;
	margin: 0 auto;
}

#contact{
	width: 100%;
	margin: 0 auto;
	margin-right: 100px;
	padding-top: 50px;
}
#contact > h1{
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
	font-weight: 500;
}

#contact > .contact > .info > p{
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 50px; 
}

#contact > .contact > .con{
	margin-bottom: 20px;
}

#contact > .contact > .con > p{
	font-size: 18px;
	margin-left: 50px; 
}

#contact > .contact > .sns{
	padding-bottom: 50px;
}

#contact > .contact > .sns > p{
	font-size: 16px;
	margin-left: 50px; 
}

#main_footer{
	padding-bottom: 50px;
}

#main_footer > p{
	text-align: center;
	font-size: 16px;
}






